# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.ko

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
*.lo

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# IDE and Editor files
.vscode/*
.idea/
*.swp
*.swo
*~

# Build directories
build/
cmake-build-*/
Debug/
Release/
vscode-debug/
vscode-release/
vscode-profile/
vscode